#avatar-progress {
  max-height: 10vh;

  /* Vertical */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  height: auto;

  /* Bottom right */
  position: fixed;

  margin: 10px;
  padding: 10px;
  border-radius: 5%;

  z-index: 100; /* Force on top */
}

/* On mobile move the avatar to top left */
@media (width >= 48rem) {
  #avatar-progress {
    /* Horizontal and less space */
    flex-direction: column;
    gap: 10px;

    max-height: auto;

    bottom: 0;
    right: 0;
  }
}

.avatar-progress-icon {
  max-height: 7vh;
  height: 7vh;
  width: auto;
  filter: grayscale(100%); /* Default to grey */
  object-fit: contain;
}

/* This is for the avatar icon before it is unlocked */
.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
}

/* Translation + home nav bar */

#translation-container {
  /* Horzontal */
  display: flex;
  gap: 5px;
  flex-shrink: 0;

  /* Top right */
  position: fixed;
  top: 0;
  right: 0;

  margin: 10px;
  padding: 10px;
  border-radius: 5%;

  z-index: 100; /* Force on top */
}

#translation-home-img {
  height: 7vh;
  width: auto;
  transition-duration: 0.4s;
}

#translation-home-img:hover {
  transform: scale(1.25);
}

/* Translation buttons */

.language-button {
  border: black;
  border-radius: 5%;

  background: none;
  width: auto;
  color: white;

  padding: 0;
  margin: 0;

  font-size: 2em;

  transition-duration: 0.4s;
}

.language-button:hover {
  transform: scale(1.25);
}
