/* Applies to roster and journal container */
section {
  margin: 1em;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: var(--primary-color);
  border: var(--primary-color) 0.5rem solid;
  height: 100%;
}

.top-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-items: center;
  padding: 5rem;
  margin-top: 10vh;
}

#top-p-text {
 font-size: xx-large;
}

.top-container img {
  width: 100%;
}

h1 {
  font-size: 3rem;
  line-height: normal;
}

.roster-grid {
  display: grid;
  padding: 2rem;
  margin-top: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr;
}

li {
  margin-left: 1rem;
  overflow: visible;
}

#journal {
  position: relative;
  max-height: none;
  max-width: none;
  overflow: auto;
}

.journal-img {
  padding: 1rem;
  transition: scale 500ms ease;
}

.journal-img:hover {
  scale: 105%;
}

ul {
  display: block !important;
}

.journal-img img {
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 0 1rem color-mix(in srgb, var(--primary-color) 80%, transparent);
}

@media (width >= 40rem) {
  .top-container {
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
  }
}

@media (width >= 48rem) {
  .top-container {
    margin-top: 0;
  }
}

@media (width >= 64rem) {
  .roster-grid {
    grid-template-columns: 1fr 1fr;
  }

  li {
    max-width: 60%;
  }

  .journal-img {
    position: absolute;
    width: 35%;
    right: 2rem;
  }
}

@media (width >= 80rem) {
  .roster-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    max-width: 45%;
  }

  .journal-img {
    position: absolute;
    width: 50%;
    right: 2rem;
  }
}

@media (width >= 96rem) {
  .roster-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
