section {
  padding: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: var(--primary-color);
  border: var(--primary-color) 0.5rem solid;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Applies to roster and journal container */
section {
  margin: 1em;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: var(--primary-color);
  border: var(--primary-color) 0.5rem solid;
  height: 100%;
}

#top-container {
  display: flex;

  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

#top-img-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#top-container img {
  max-width: 100%;
  width: 40em;
}

#top-p-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  line-height: normal;
}

.roster-grid {
  display: grid;
  padding: 2rem;
  margin-top: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (width >= 40rem) {
  #top-container {
    flex-direction: row;
  }
}

@media (width >= 48rem) {
  .roster-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= 66rem) {
  .roster-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (width >= 86rem) {
  .roster-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (width >= 104rem) {
  .roster-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
