section {
  padding: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: var(--primary-color);
  border: var(--primary-color) 0.5rem solid;
  height: 100%;
}

#journal {
  line-height: 2;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 0.1fr;
  min-height: 100vh;
  padding: 4rem;
  gap: 2rem;
}

h1 {
  font-size: 3rem;
  text-decoration: underline;
}

.roster-grid {
  display: grid;
  padding: 1rem;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
