#map-container {
  background: url('/assets/map/map-background.png');
  background-size: 100vw 100vh;
}

/* Simialr code, just change png */
.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('/assets/map/map-cloud-frame.png');
  background-size: 100vw 100vh;
}

.map-icon-container {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  z-index: 6;
}

.map-icon-container:hover {
  transform: translate(-50%, -50%) scale(1.25); /* For some reason keep the center code */
}

.map-icon {
  width: 15vw;
  height: auto;
}

#fire-icon {
  top: 77%;
  left: 15%;
}

#water-icon {
  top: 22%;
  left: 13%;
}

#air-icon {
  top: 77%;
  left: 87%;
}

#earth-icon {
  top: 22%;
  left: 87%;
}

/* Islands */
/* Edit the 'img' to change the size */

.map-island {
  height: auto;
}

.map-island-container {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.map-island-container:hover {
  transform: translate(-50%, -50%) scale(1.25); /* For some reason keep the center code */
}

#fire-island {
  top: 52%;
  left: 30%;
  z-index: 3;
}

#fire-island-img {
  width: 30vw;
}

#air-island-br {
  top: 60%;
  left: 83%;
  z-index: 4;
}

#air-island-br-img {
  width: 7.5vw;
}

#air-island-lt {
  top: 37%;
  left: 27%;
  z-index: 4;
}

#air-island-lt-img {
  width: 15vw;
}

#air-island-bl {
  top: 65%;
  left: 43%;
  z-index: 4;
}

#air-island-bl-img {
  width: 20vw;
}

#earth-island {
  top: 48%;
  left: 60%;
  z-index: 2;
}

#earth-island-img {
  width: 50vw;
}

#water-island-top {
  top: 15%;
  left: 50%;
  z-index: 5;
}
#water-island-img-top {
  width: 20vw;
}

#water-island-bottom {
  top: 85%;
  left: 50%;
  z-index: 5;
}

#water-island-img-bottom {
  width: 20vw;
}

.links-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
}

.links-container a img {
  height: 10vh;
}
