@import url('/css/avatar-translation.css');

@font-face {
  font-family: ATLA-font;
  src: url('/assets/Avatar Airbender.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: hsl(29, 57%, 50%) #e1b790;
  scrollbar-width: thin;
}

body {
  font-family: 'Comic Sans', 'Comic Sans MS', sans-serif;
  background-color: #e1b790;
}

h1,
h2 {
  font-family: ATLA-font, 'Comic Sans', 'Comic Sans MS', sans-serif;
}

::-webkit-scrollbar {
  background: #e1b790;
  width: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background: hsl(29, 57%, 50%);
  border: #e1b790 0.5rem solid;
  border-radius: 2rem;
}
