#avatar-progress {
    /* Horzontal */
    display: flex;
    gap: 10px;
    
    /* Bottom right */
    position: fixed;
    bottom: 0;
    right: 0;
    
    margin: 10px; 
    background: #e1b790;
    padding: 10px;
    border-radius: 5%;
    
    z-index: 100; /* Force on top */
}

.avatar-progress-icon {
    height: 7vh;
    width: auto;
    filter: grayscale(100%); /* Default to grey */
}