* {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

#top-section {
    padding-bottom: 10vh;
}

/* Basically the same logic as the CRC page, except it becomes nested */
.scrollable-bg {
    height: 100vh; 

    position: relative;

    overflow-y: auto;  /* Makes content inside scrollable to replicate effect we want */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-y */
}

/* Debug delete these later */
#bg1 {
    background-color: aqua;
}

#bg2 {
    background-color: orange;
}

.images-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;

    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1;
    
}

.bg-image {
    height: 100%;
    width: 100%;

    filter: blur(5px);
}

.element-container {
    position: relative;
    display: flex;
    border: 3px solid yellow;
    height: 100vh; 

    justify-content: center;
    align-items: center;
    z-index: 2;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in:hover {
    opacity: 1;
}

.element-text-big {
    color: rgb(140, 122, 100); 
    font-size: 5em;
}